body{
background-color:pink;
font-size:26px;
color:black;
font-family:Bradley Hand ITC;
text-align:center; 
background: repeating-conic-gradient(from 45deg, #0ba5ac 0% 25%, #f10809 0% 50%);
}

p{
color:darkgreen;
}

h1{
color:black; 
 }

a{
color:indigo;
}

.contact{
color:navy;
text-align:center;
font-size:25px;
text-decoration:none;
}
.center {
  display: block;
  margin
  margin-left:20%;
  margin-right:80%; 
  
}
